

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#EDFFF0;
}

#calculator {
    width: 320px;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#data {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    background: #f1f3f6;
    border-radius: 12px;
    text-align: right;
    padding: 15px;
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

#buttons button {
    height: 55px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    background: #e9ecf3;
    color: #333;
    transition: all 0.2s ease;
}

#buttons button:hover {
    background: #dfe3ee;
    transform: scale(1.05);
}

/* Operators */
#buttons button:nth-child(4n) {
    background: #dbeafe;
    color: #1e40af;
}

/* AC & DEL */
#buttons button:first-child {
    background: #fee2e2;
    color: #b91c1c;
}

#buttons button:nth-child(2) {
    background: #fde68a;
    color: #92400e;
}

/* Equal Button */
#buttons button:last-child {
    background: #a5b4fc;
    color: #ffffff;
    font-size: 22px;
}
